
<VirtualHost *:80>
   DocumentRoot /var/www/html
   ServerName {{ mbs_frontend_host }}
   CustomLog logs/{{ mbs_frontend_host }}_access.log combined
   ErrorLog logs/{{ mbs_frontend_host }}_error.log

   RewriteEngine On
   RewriteCond $1 !^.well-known
   RewriteCond %{HTTPS} !=on
   RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

</VirtualHost>

