{
    "web": {
        "auth_uri": "{{ mbs_oidc_uri }}",
        "client_id": "{{ mbs_oidc_client_id }}",
        "client_secret": "{{ mbs_oidc_client_secret }}",
        "redirect_uris": {{ mbs_oidc_redirect_uris }},
        "token_uri": "{{ mbs_oidc_token_uri }}",
        "token_introspection_uri": "{{ mbs_oidc_token_introspection_uri }}",
        "userinfo_uri": "{{ mbs_oidc_userinfo_uri }}"
    }
}
