class ProdConfiguration(object):
    DEBUG = {{ mbs_config_debug | bool }}
    # Make this random (used to generate session keys)
    SECRET_KEY = '{{ mbs_config_secret_key }}'

    SQLALCHEMY_DATABASE_URI = '{{ mbs_config_database_url }}'
    SQLALCHEMY_TRACK_MODIFICATIONS = True

    CELERY_BROKER_URL = '{{ mbs_config_broker_url }}'

    # Global network-related values, in seconds
    NET_TIMEOUT = 120
    NET_RETRY_INTERVAL = 30

    SYSTEM = '{{ mbs_config_system }}'
    MESSAGING = '{{ mbs_config_messaging }}'  # in_memory, fedmsg or amq
    MESSAGING_TOPIC_PREFIX = {{ mbs_config_messaging_topic_prefix }}
    KOJI_CONFIG = '{{ mbs_config_koji_file }}'
    KOJI_PROFILE = '{{ mbs_config_koji_profile }}'
    ARCHES = {{ mbs_config_arches }}
    KOJI_PROXYUSER = {{ mbs_config_koji_proxy_user | bool }}
    KOJI_REPOSITORY_URL = '{{ mbs_config_koji_repository_url }}'
    SCMURLS = {{ mbs_config_scm_urls }}

    RESOLVER = '{{ mbs_config_resolver }}'

    # This is a whitelist of prefixes of koji tags we're allowed to manipulate
    KOJI_TAG_PREFIXES = {{ mbs_config_koji_tag_prefixes }}

    # Permission name to require for newly created Koji tags
    KOJI_TAG_PERMISSION = '{{ mbs_koji_tag_permission }}'

    # If this is too long, we could change it to 'fm_' some day.
    DEFAULT_DIST_TAG_PREFIX = '{{ mbs_config_dist_tag_prefix }}'

    # Relative Koji task priority (0 means default priority of 20).
    KOJI_BUILD_PRIORITY = {{ mbs_config_build_priority }}

    # Control where modules get tagged post-build. 
    BASE_MODULE_NAMES = set({{ mbs_config_base_module_names }})
    KOJI_CG_TAG_BUILD = {{ mbs_koji_cg_tag_build }}
    KOJI_CG_BUILD_TAG_TEMPLATE = "{}-{{ mbs_config_koji_build_tag }}"
    KOJI_CG_DEFAULT_BUILD_TAG = "{{ mbs_config_koji_build_tag }}"

    # should always be false unless in development mode
    NO_AUTH = {{ mbs_config_no_auth | bool }}

    # Don't let people submit yaml directly.  it has to come from dist-git
    YAML_SUBMIT_ALLOWED = {{ mbs_config_yaml_allowed | bool }}

    # Allow maintainers to specify something that differs from the git branch.
    ALLOW_NAME_OVERRIDE_FROM_SCM = {{ mbs_allow_name_override_from_scm }}
    ALLOW_STREAM_OVERRIDE_FROM_SCM = {{ mbs_allow_stream_override_from_scm }}

    # How often should we resort to polling, in seconds
    # Set to zero to disable polling
    POLLING_INTERVAL = {{ mbs_config_polling_interval }}

    # Determines how many builds that can be submitted to the builder
    # and be in the build state at a time. Set this to 0 for no restrictions
    # New name
    NUM_CONCURRENT_BUILDS = {{ mbs_num_concurrent_builds }}

    MODULES_ALLOW_SCRATCH = {{ mbs_config_modules_allow_scratch | bool }}
    RPMS_DEFAULT_REPOSITORY = '{{ mbs_config_default_repository_url }}'
    RPMS_ALLOW_REPOSITORY = {{ mbs_config_allow_rpm_repository | bool }}
    RPMS_DEFAULT_CACHE = '{{ mbs_config_rpm_default_cache_url }}'
    RPMS_ALLOW_CACHE = {{ mbs_config_rpm_allow_cache | bool }}
    MODULES_DEFAULT_REPOSITORY = '{{ mbs_config_modules_repository_url }}'
    MODULES_ALLOW_REPOSITORY = {{ mbs_config_modules_allow_repository | bool }}

    # Our per-build logs for the koji-content generator go here.
    # CG imports are controlled by KOJI_ENABLE_CONTENT_GENERATOR
    BUILD_LOGS_DIR = '{{ mbs_config_logs_build_dir }}'

    # Delete module-* targets one hour after build
    KOJI_TARGET_DELETE_TIME = {{ mbs_config_koji_delete_time }}

    # Whether or not to import modules back to koji.
    KOJI_ENABLE_CONTENT_GENERATOR = {{ mbs_config_content_generator | bool }}

    # Available backends are: console, file, journal.
    LOG_BACKEND = '{{ mbs_config_log_backend }}'
{% if mbs_config_log_backend == 'file' %}
    LOG_FILE = '{{ mbs_config_log_file }}'
{% endif %}

    # Available log levels are: debug, info, warn, error.
    LOG_LEVEL = '{{ mbs_config_log_level }}'

    REBUILD_STRATEGY_ALLOW_OVERRIDE = {{ mbs_config_rebuild_strategy_override | bool }}
    REBUILD_STRATEGY = '{{ mbs_config_rebuild_strategy }}'

    ALLOWED_PRIVILEGED_MODULE_NAMES = {{ mbs_allowed_privileged_module_names }}

    STREAM_SUFFIXES = {
        r'el\d+\.\d+\.\d+\.z': 0.1,
    }

    #frontend
    AUTH_METHOD = '{{ mbs_frontend_auth_type }}'
    KERBEROS_KEYTAB = '{{ mbs_frontend_krb_keytab }}'
    KERBEROS_HTTP_HOST = '{{ mbs_frontend_krb_host }}'
    LDAP_URI = '{{ mbs_frontend_ldap_uri }}'
    LDAP_GROUPS_DN = '{{ mbs_frontend_ldap_dn_groups }}'
    ALLOWED_GROUPS = {{ mbs_config_allowed_groups }}
    ALLOWED_USERS = {{ mbs_config_allowed_users }}
    ADMIN_GROUPS = {{ mbs_config_admin_groups }}
    ALLOWED_GROUPS_TO_IMPORT_MODULE = {{ mbs_allowed_groups_to_import_module }}
    BR_STREAM_OVERRIDE_MODULE = '{{ mbs_br_stream_override_module }}'
    BR_STREAM_OVERRIDE_REGEXES = [
{% for regex in mbs_br_stream_override_regexes %}
        r'{{ regex }}',
{% endfor %}
    ]

    PRODUCT_PAGES_URL = '{{ mbs_product_pages_url }}'
    PRODUCT_PAGES_SCHEDULE_TASK_NAME = '{{ mbs_product_pages_schedule_task_name }}'
    PRODUCT_PAGES_MODULE_STREAMS = {
{% for regex, values in mbs_product_pages_module_streams.items() %}
        r'{{ regex }}': {{ values }},
{% endfor %}
    }

    # Settings for Kerberos (backend)
    KRB_KEYTAB = '{{ mbs_config_krb_keytab }}'
    KRB_PRINCIPAL = '{{ mbs_config_krb_principal }}'

    NUM_WORKERS = {{ mbs_num_workers }}

    # Extra options set for newly created Koji tags
    KOJI_TAG_EXTRA_OPTS = {{ mbs_config_koji_tag_extra_opts }}

    SCRATCH_BUILD_ONLY_BRANCHES = [
{% for regex in mbs_scratch_build_only_branches %}
        r'{{ regex }}',
{% endfor %}
    ]

