config = {
  'zmq_enabled': True,
  'validate_signatures': False,
  'moksha.blocking_mode': True,
  # moksha-monitor-exporter's point of contact
  'moksha.monitoring.socket': '{{ mbs_moksha_monitoring_addr }}',
}
