
WSGIDaemonProcess mbs user=fedmsg group=fedmsg maximum-requests=1000 display-name=mbs processes={{ mbs_wsgi_procs }} threads={{ mbs_wsgi_threads }}
WSGIApplicationGroup %{GLOBAL}
WSGISocketPrefix run/wsgi
WSGIRestrictStdout Off
WSGIRestrictSignal Off
WSGIPythonOptimize 1
WSGIScriptAlias / /usr/share/mbs/mbs.wsgi

<Location />
  WSGIProcessGroup mbs
{% if mbs_config_no_auth | bool %}
  Require all granted
{% else %}
  # Return JSON when authentication fails
  ErrorDocument 401 "{\"error\": \"You must be authenticated to perform this action.\"}"
  Header always set Content-Type "application/json" "expr=%{REQUEST_STATUS} == 401"

  AuthType GSSAPI
  AuthName "MBS Kerberos negotiate authentication based on GSSAPI"
  GssapiCredStore keytab:/etc/httpd/conf.d/{{ mbs_frontend_krb_keytab }}

  # GET methods are allowed for everyone, but any other method
  # needs a valid-user.
  <RequireAny>
    Require method GET OPTIONS
    Require valid-user
  </RequireAny>
{% endif %}
</Location>

RewriteEngine on
RewriteRule ^(|/+)$ /module-build-service/1/module-builds/ [L,R=302]
