{
    "{{ mbs_pdc_client_name }}": {
        "host": "{{ mbs_pdc_client_url }}",
        "develop": {{ mbs_pdc_client_develop | bool }},
        "insecure": {{ mbs_pdc_client_insecure | bool }}
    }
}